body{
    font-family: Arial, sans-serif;
}

.menu{
    background-color: brown;
}

.fixed-menu{
    position: fixed;
    padding-top:  10px;
    padding-bottom: 0px;
    text-align: center;
    height: 100vh;
}

.section-body{
    position: absolute;
    height: 100vh;
    right: 0;
    background-color: purple;
    color: white;
    text-align: center;
}

#titulo{
    padding: 20px;
    font-size: 50px;
}

form{
    font-size: 15px;
}

input, textarea{
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid;
}

input :hover, textarea :hover, input :focus, textarea :focus{
    border-color: #000066;
    box-shadow: 5px 0px 9px #ff0000;
    background-color: #66ffff;
    color: black;
    font-weight: bold;
}

.submit input{
    background-color: #66ffff;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea{
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label{
    margin-left: 20px;
    color: #ffffff;
    font-weight: bold;
}

#name{
    padding-left: 30px;
}

#tel{
    padding-left: 11px;
}

#mail{
    padding-left: 27px;
}

#obs{
    padding-left: 185px;
}

